PyMuPDF==1.23.26
tiktoken==0.6.0
pinecone-client==3.1.0
tqdm==4.66.2
uuid==1.30
langchain==0.1.14
langchain-core==0.1.40
langchain-community==0.0.31
langchain-text-splitters==0.0.1
pypdf==4.1.0
gradio==4.25.0
gradio_client==0.15.0
